<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RSADemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F2411B71E4874C700D6C887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F2411D01E4874C900D6C887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F2411DB1E4874C900D6C887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
